body {
  width: 100vw;
  background-color: rgb(255, 124, 146);
}

#contentDisplayContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 2rem;
  align-items: flex-start;
}

#contentDisplayContainer .contentImgDiv {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contentDisplayContainer .fav {
  background-color: gold;
}

#contentDisplayContainer .selected {
  background-color: turquoise;
}

#contentDisplayContainer img {
  width: 99%;
  margin: 2%;
}

.meta {
  display: none;
}
